---
import StoreLayout from "../../layouts/StoreLayout.astro";


---

<StoreLayout title="Chat" description="Chat with Willo">
    <section class="px-4 py-8">
        <div>
            <h1 class="text-3xl text-gray-900 font-semibold">Chat History</h1>

            <p class="mt-2 text-sm text-gray-600">
                All you chats with Willo appear here!
            </p>
        </div>
    </section>
</StoreLayout>
