---
import StoreLayout from "../../layouts/StoreLayout.astro";
import PromptSupportInput from "../../components/prompt-support-input";
---

<StoreLayout title="Support">
    <section class="px-4 py-8 relative flex flex-col items-center justify-between sm:justify-center">
        <div class="mt-40 lg:mt-32">
            <h1 class="text-3xl text-center text-gray-900 font-semibold">What can I help with?</h1>
            <p class="mt-2 text-sm text-center text-gray-600 text-balance">
                Get support about your order, account, refunds, or any other
                questions
            </p>
        </div>

        <PromptSupportInput client:load />

        <div class="mt-4 w-full max-w-2xl ">
            <div class="flex items-center justify-between">
                <h2 class="text-sm text-gray-600">Recent Conversations</h2>
                <a href="/chat" class="text-sm text-gray-600 hover:text-orange-600">View All</a>
            </div>

            <ul class="mt-2 space-y-2">
                <li class="text-sm ">Chat title which will ofc be ai generated</li>
                <li class="text-sm ">Chat title which will ofc be ai generated</li>
                <li class="text-sm ">Chat title which will ofc be ai generated</li>
                <li class="text-sm ">Chat title which will ofc be ai generated</li>
                <li class="text-sm ">Chat title which will ofc be ai generated</li>
            </ul>
        </div>
    </section>
</StoreLayout>
