---
import { format } from "date-fns";
import type { MarkdownHeading } from "astro";
import { getCollection } from "astro:content";
import StoreLayout from "../../layouts/StoreLayout.astro";

const allArticles = await getCollection("articles");
---

<StoreLayout title="Support">
    <section class="px-4 py-8 min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-3xl text-center text-gray-900 font-semibold">What can I help with?</h1>

        <p class="mt-2 text-sm text-center text-gray-600 text-balance">
            Get support about your order, account, refunds, or any other
            questions
        </p>
    </section>
</StoreLayout>
