---
import CheckoutForm from "../../components/checkout-form";
import StoreLayout from "../../layouts/StoreLayout.astro";
---

<StoreLayout>
    <section class="px-4">
        <CheckoutForm client:load />
    </section>
</StoreLayout>
