---
import { actions } from "astro:actions";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import StoreLayout from "../layouts/StoreLayout.astro";
import ProductCard from "../components/product-card.astro";

// const auth = getAuth(app);

// if (Astro.cookies.has("__session")) {
//   const sessionCookie = Astro.cookies.get("__session")?.value;

//   if(sessionCookie){
// 	  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
// 	  if (decodedCookie) {
// 		return Astro.redirect("/dashboard");
// 	  }
//   }
// }

const { data, error } = await Astro.callAction(actions.products.getProducts, {
  category: undefined,
});
---

<StoreLayout>
  <section class="px-4">
    <ul class="pb-4 grid grid-cols-2 lg:grid-cols-3 gap-4">
      {
        data?.products?.map((product) => (
          <li>
            <ProductCard product={product} href={`/shop/${product.id}`} />
          </li>
        ))
      }
    </ul>
  </section>
</StoreLayout>
