---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth"
import RootLayout from "../layouts/RootLayout.astro";

const auth = getAuth(app);

if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session")?.value;

  if(sessionCookie){
	  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
	  if (decodedCookie) {
		return Astro.redirect("/dashboard");
	  }
  }
}
---

<RootLayout>
	<section class="mx-auto w-full min-h-screen bg-gradient-to-br from-[#f8f9c7]/80 to-[#f0cd97]/80">
        <a href="/signin">Sign In</a>
    </section>

</RootLayout>