---
import { actions } from "astro:actions";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import StoreLayout from "../layouts/StoreLayout.astro";

// const auth = getAuth(app);

// if (Astro.cookies.has("__session")) {
//   const sessionCookie = Astro.cookies.get("__session")?.value;

//   if(sessionCookie){
// 	  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
// 	  if (decodedCookie) {
// 		return Astro.redirect("/dashboard");
// 	  }
//   }
// }

const { data, error } = await Astro.callAction(
  actions.products.getProducts,
  null,
);
---

<StoreLayout>
  <section class="px-4">
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        data?.products?.map((product) => (
          <li>
            <img src={product.images[0]} alt={`${product.name}`} class="w-full aspect-square object-cover object-center" />

            <div class="mt-1 px-1 flex items-center justify-between">
              <h1 class="text-sm text-gray-600">{product.name}</h1>

              <h2 class="text-sm text-gray-900">
                {typeof product.default_price === "object"
                  ? product.default_price?.unit_price
                  : product.default_price}
              </h2>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</StoreLayout>
