---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
	<section class="mx-auto w-full min-h-screen bg-gradient-to-br from-[#f8f9c7]/80 to-[#f0cd97]/80">
        <a href="/signin">Sign In</a>
    </section>

</RootLayout>