---
import { actions } from "astro:actions";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import AdminLayout from "../layouts/AdminLayout.astro";

const auth = getAuth(app);

const sessionCookie = Astro.cookies.get("__session")?.value;

if (!sessionCookie) {
    return Astro.redirect("/signin");
}

const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
    return Astro.redirect("/signin");
}

const { data, error } = await Astro.callAction(actions.products.getProducts, null)

const title = 'Products'
---
<AdminLayout title={title}>
    <section class="px-4">
        <div class="flex items-center justify-between">
            <h1 class="text-base text-gray-900 font-medium">{title}</h1>
            <a href="/add-product" class="text-sm text-gray-600 hover:text-orange-600">Add Product +</a>
        </div>

        <pre>{JSON.stringify(data, null, 2)}</pre>
    </section>
</AdminLayout>
