---
import { actions } from "astro:actions";
import StoreLayout from "../layouts/StoreLayout.astro";

const searchQuery = Astro.url.searchParams.get('q') || '';

const { data, error } = await Astro.callAction(
  actions.search.searchProducts,    
  { query: searchQuery },
);
---

<StoreLayout>
    <section class="px-4">
        <h1 class="mt-8 text-2xl font-semibold text-gray-900">Search results for "{searchQuery}"</h1>

        <pre>{JSON.stringify(data, null, 2)}</pre>
        
    </section>
</StoreLayout>
