---
import useFormattedDate from '../hooks/useFormattedDate'

const currentDate = new Date()

const today = useFormattedDate(currentDate)
---

<div class=''>
  <h1 class='text-base'>Retro Rocket 🚀</h1>

  <p class='text-xs text-gray-400'>{today}</p>
</div>