---
import Logo from "./Logo.astro"
import LogoutForm from "./LogoutForm"
import { Icon } from "astro-icon/components"

const data = Astro.locals
const { user } = data

const adminRoutes = [
  { id: 1, route: "/products", iconSrc: "lucide:bookmark" },
  { id: 2, route: "/orders", iconSrc: "lucide:package" },
]
---

<header class='flex justify-between items-center'>
  <Logo />
  <div>
    <nav
      transition:animate='slide'
      class='nav-links hidden sm:flex items-center gap-2'
    >
      {
        user ? (
          <div class='flex items-center gap-2'>
            <a
              href='/cart'
              class='p-2 text-gray-500 hover:text-gray-800 hover:bg-gray-100 rounded'
            >
              <Icon name='lucide:shopping-cart' size={18} />
            </a>
            <LogoutForm client:load />
          </div>
        ) : (
          <a
            href='/login'
            class='p-2 text-gray-500 hover:text-gray-800 hover:bg-gray-100 rounded'
          >
            <Icon name='lucide:log-in' size={18} />
          </a>
        )
      }
    </nav>
  </div>
</header>
