---

---

<div
    class="prose dark:prose-invert proce:space-y-1
    prose-h1:text-3xl prose-h1:text-gray-900 prose-h1:font-semibold
    prose-p:text-sm  prose-p:text-gray-600
    prose-img:rounded-xl"
>
    <slot />
</div>
