---
import Logo from "../assets/logo.svg";
import RootLayout from "./RootLayout.astro";

const pathname = Astro.url.pathname

console.log(pathname)

const { title, description } = Astro.props;
---

<RootLayout title={title} description={description}>
    <section class="w-full min-h-screen bg-gradient-to-br from-[#f8f9c7]/80 to-[#f0cd97]/80">
        <div class="mx-auto w-full max-w-screen-lg">
            <div class="p-4 flex items-center justify-between">
                <a href="/dashboard">
                    <Logo width={32} height={32} fill="currentColor" />
                </a>

                <div class="flex items-center justify-center gap-4">
                    <a href="/orders" data-active={pathname === '/orders'} class="text-sm text-gray-600  hover:text-orange-600 data-[active=true]:text-orange-600">
                        Orders
                    </a>
                    <a href="/customers" data-active={pathname === '/customers'} class="text-sm text-gray-600  hover:text-orange-600 data-[active=true]:text-orange-600">
                        Customers
                    </a>
                    <a href="/products" data-active={pathname === '/products'} class="text-sm text-gray-600  hover:text-orange-600 data-[active=true]:text-orange-600">
                        Products
                    </a>
                </div>
            </div>

            <slot />
        </div>
    </section>
</RootLayout>