---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title ? `${title} | Retro Rocket` : "Retro Rocket"}</title>
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
