---
import "../styles/global.css";
import { Provider } from "jotai";
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title ? `Retro Rocket | ${title}` : "Retro Rocket"}</title>
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<LoadingIndicator color="orange" height="4px" />
	</head>
	<Provider>
		<body class="bg-gradient-to-br from-[#e4e7e4]/20 to-[#727a9a]/30">
			<slot />
		</body>
	</Provider>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
